body{
    background-image: url(https://thumbs.gfycat.com/FeistyJaggedBuffalo-size_restricted.gif);
    background-repeat: repeat;
}

#title{
    text-align: center;
    color: yellow;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    height: 100px;
    font-size: 50px;
}

h1{
    color: white;
    text-align: center;
}

form{
    text-align: center;
}

.character-card{
    position: absolute;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 750px;
    right: 25px;
    width: 200px;
    border: 3px solid black;
    border-radius: 5px;
    height: 600px;
    overflow: hidden;
}